
<%- include("header") -%>
  <div class="container">

    <div class="heading-box" id="heading">
      <h1> <%= listTitle%> </h1>
    </div>
    <div class=item-box>

      <form class="formItem" action="/" method="post">
        <button type="submit" name="list" value= <%= listTitle %>>+</button>
        <input type="text" class="input-item" placeholder="New Task" name="newItem" autocomplete="off">
        <!-- <div class="delete"><i class="fas fa-trash"></i></div> -->
      </form>

      <% for(let i=0; i<newListItems.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %> </p>
      </div>
      <%  } %>

    </div>

  </div>
  <%- include("footer") -%>
