
<%- include("header") -%>
  <div class="container">

    <div class="heading-box" id="heading">
      <h1> <%= listTitle%> </h1>
    </div>
    <div class=item-box>

      <form class="formItem" action="/" method="post">
        <button type="submit" name="list" value= <%= listTitle %>>+</button>
        <input type="text" class="input-item" placeholder="New Task" name="newItem" autocomplete="off">
      </form>

      <% newListItems.forEach(function(item){ %>
        <form action="/delete" method="POST">
      <div class="item">
        <input type="checkbox" name="removeItem" value=" <%=item._id%>" onchange="this.form.submit()">
        <p><%= item.name %> </p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
      <% }) %>

    </div>

  </div>
  <%- include("footer") -%>
